/* .post-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
  } */

.post-actions {
  display: flex;
  gap: 12px;
}

.nopost {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-actions button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #424242;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post-actions button i {
  font-size: 16px;
  transition: transform 0.3s;
}

.post-actions button:hover i {
  transform: translateX(4px);
}

.edit-btn:hover {
  color: #2196f3;
}

.delete-btn:hover {
  color: #f44336;
}

/* Add a border between the body content and footer */
.post-content {
  padding-bottom: 16px; /* Add space between content and separator */
}

.separator {
  border-top: 1px solid #ccc; /* Light gray border line */
  margin: 8px 0; /* Space around the separator */
}

/* Optional: Style the footer buttons to align them */
mat-expansion-panel-footer {
  display: flex;
  justify-content: flex-end; /* Align buttons to the left */
  gap: 8px; /* Space between buttons */
}

mat-spinner {
  margin: auto;
}
