<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="posts?.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="post-content">
      <div>
        {{ post.content }}
      </div>
    </div>

    <div class="separator"></div>
    <mat-expansion-panel-footer *ngIf="userIsAuthenticated">
      <div>
        <button mat-button (click)="navigatetopost(post)">Edit</button>
        <button mat-button color="warn" (click)="deletePost(post._id)">
          Delete
        </button>
      </div>
    </mat-expansion-panel-footer>
  </mat-expansion-panel>
</mat-accordion>

<span class="nopost" *ngIf="posts?.length == 0 && !isLoading"
  >No Post added yet</span
>
